.footer {
  background-color: rgb(72, 93, 60);
  color: rgb(243, 192, 29);
  width: 100%;
  bottom: 0;
  height: 152px;
  margin-top: auto;
}

.footer a {
  color: rgb(243, 192, 29);
}

.footerContent {
  flex-direction: column;
  align-items: center;
}
